body {
    margin: 0;
    box-sizing: border-box;
    background-color: #92abb7;
    font-size: 18px;
    padding: 0;
    font-family: Calibri, sans-serif;
    color:#1D2D44;
}

a {
    text-decoration: none;
    color:#1D2D44;
}

h1  {
    margin: 0;
}

li {
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}

header {
    width: 100%;
    height: 150px;
    background-color: #1D2D44;
    margin: 0;
    overflow: auto;
}

header img {
    padding-right: 50px;
    width: 100px; 
    float: left;
    margin-top: 15px;
}

#logo_text
{
    color: white;
}

.header_wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 7px 20px;
}

#logo_text {
    margin-top: 50px;
} 

.content
{
    max-width: 960px;
    margin: 0 auto;
}

.content nav {
    margin-top: 10px;
    border: 2px solid #2c1d42;
    text-align: center;
    height: 40px;
    padding: 15px 0 0 0;
    background-color: #40456d;
}

.content nav a {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.links a:hover {
    color:#07040b;
}

.content nav a:hover {
    color:rgb(62, 206, 62);
}
.title {
    text-align: center;
    margin-bottom: 30px;
    color: #40456d;
}

.links {
    margin: 10px auto 0 auto;
    padding: 30px 20px;
    border: 2px solid #2c1d42;
    background-color:rgb(233, 236, 243);
}

.form {
    margin: 15px auto 0 auto;
    padding: 30px 50px;
    background-color:rgb(233, 236, 243);
    border: 2px solid #2c1d42;
}

form {
    text-align: center;
}

.table {
    margin: 15px auto 0 auto;
    padding: 30px 50px;
    background-color:rgb(233, 236, 243);
    border: 2px solid #2c1d42;
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width:90%;
}

th {
    border: 1px solid grey;
    height: 50px;
}

tr {
    border: 1px solid grey;

}

.food {
    width: 50%;
    background-color: #7b82b4;
}

.num {
    width: 6%;
    background-color: #7b82b4;
}

.anim {
    width: 13%;
    background-color: #7b82b4;
}

.live {
    width: 31%;
    background-color: #7b82b4;
}

td {
    border: 1px solid grey;
}

tbody tr:nth-child(odd) {
    background-color: rgb(190, 194, 246);
}

tfoot {
    background-color: rgb(206, 212, 231);
}

input {
    margin-left: 20px;
}

.name {
    margin-left: 32px;
}

.name, .mail {
    width:250px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid grey;
}

button {
    display: block;
    margin: 0 auto;
    border: 1px solid rgb(83, 68, 83);
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(106, 188, 130); 
    width: 200px; 
    height: 45px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #1D2D44;
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
    color:aliceblue;
    font-weight: 300;
    font-size: 25px;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .table {
      overflow-y: scroll;
    }
  }
